# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
coverage/

# React specific
client/node_modules/
client/build/

# Server specific
server/node_modules/
server/build/ 